/**
*   BASE RULES
*/

html, body {
   height: 100%;
}

img {
   width: 100%;
}

figure {
   margin-bottom: 0;
}

a {
   color: $main-red;

   @include transition;

   &:hover {
      color: $main-red;
      text-decoration: underline;
   }
}

.page-link,
.page-link:active {
   border: 1px solid #ddd;
   color: black;
}
.page-link:hover,
.page-link:focus {
   border: 1px solid $main-red;
   background-color: $main-red;
   color: white;
}

.page-item.active .page-link {
   border-color: $main-red;
   background-color: $main-red;
}

:focus,
:active {
   outline: 0;
   outline-width: 0;
   border: 0;
   -webkit-box-shadow: 0;

   -webkit-appearance: 0;
   -webkit-focus-ring-color: 0;
}

.figure {
   margin-bottom: 1.2rem;
}

.breadcrumb {
   margin-bottom: 2.5rem;
   border: 1px solid #ddd;
   border-radius: .7rem;
   background-color: white;

   a {
      color: $main-black;

      &:hover {
         color: $main-red;
         text-decoration: none;
      }
   }
}

.titleSection {
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 2.5rem;

   a {
      display: block;
      color: #212529;
      text-decoration: none;
   }

   &:hover {
      a {
         color: $main-red;
      }
   }
}

// Rules for dynamic Cover
.generalCover--fill {
   margin-bottom: 60px;
   width: 100%;
   background-color: $main-black;
   color: white;
   text-align: center;

   img {
      border-radius: $bd-radius;
   }

   .btn-lg {
      padding: .65rem 2rem;
      border-radius: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
   }

   .btn-secondary {
      border: 2px solid white;
      background-color: white;
      color: darken($main-red, 10);

      @include transition;

      &:hover {
         border: 2px solid white;
         background-color: transparent;
         color: white;
      }

      &:active {
         border: 2px solid white;
         background-color: white;
         color: $main-red;
      }
   }
}

.col-lg-7 .smallCover {
   margin-bottom: 60px;
}

// Shadows and others effects
.generalCover--design {
   overflow: hidden;
   border-radius: $bd-radius;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

   @include transition;

   &:hover {
      box-shadow:
      0 15px 40px rgba(0, 0, 0, 0.3),
      0 20px 80px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px) translateZ(0);
   }
}

.btn-primary,
.btn-primary:active {
   margin-bottom: 5px;
   padding: .5rem 1.3rem;
   border-color: $main-red;
   border-radius: $bd-radius;
   background-color: white;
   color: $main-red;
   white-space: normal;

   @include transition;

   i {
      padding-left: .1rem;
      font-style: normal;

      @include transition;
   }
   i.link-back {
      padding-left: 0;
      padding-right: .1rem;
      font-style: normal;

      @include transition;
   }

   &:hover {
      i {
         padding-left: .5rem;
      }

      i.link-back {
         padding-left: 0;
         padding-right: .5rem;
      }
   }

   &:hover,
   &[aria-expanded="true"] {
      border-color: $main-red;
      background-color: $main-red;
      color: white;
   }
}

// Separators
.lineCover-separator,
.line-separator {
   display: block;
   margin-top: 25px;
   margin-right: auto;
   margin-bottom: 25px;
   margin-left: auto;
   width: 45px;
   height: 2px;
   border-radius: 99px;
   background-color: $main-red;
   line-height: 40px;

   &.to-lft {
      margin-top: 20px;
      margin-bottom: 18px;
      margin-left: 0;
   }
}

.line-separator {
   margin-top: 3rem;
   margin-bottom: 3rem;
   background-color: lighten($main-black, 60);
}

.pageNocover {
   display: flex;
   width: 100%;
   height: 60px;
   background-color: transparent;
}
