/**
*   BASE RULES
*/

html, body {
   height: 100%;
}

img {
   width: 100%;
}

figure {
   margin-bottom: 0;
}

:focus,
:active {
   outline: 0;
   outline-width: 0;
   border: 0;
   -webkit-box-shadow: 0;

   -webkit-appearance: 0;
   -webkit-focus-ring-color: 0;
}

.titleSection {
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 2.5rem;
}

// Rules for dynamic Cover
.generalCover--fill {
   margin-bottom: 60px;
   width: 100%;
   background-color: $main-black;
   color: white;
   text-align: center;

   img {
      border-radius: $bd-radius;
   }

   .btn-lg {
      padding: .65rem 2rem;
      border-radius: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
   }

   .btn-secondary {
      border: 2px solid white;
      background-color: white;
      color: darken($main-red, 10);

      @include transition;

      &:hover {
         border: 2px solid white;
         background-color: transparent;
         color: white;
      }

      &:active {
         border: 2px solid white;
         background-color: white;
         color: $main-red;
      }
   }
}

.col-lg-7 .smallCover {
   margin-bottom: 60px;
}

// Shadows and others effects
.generalCover--design {
   overflow: hidden;
   border-radius: $bd-radius;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

   @include transition;

   &:hover {
      box-shadow:
      0 15px 40px rgba(0, 0, 0, 0.3),
      0 20px 80px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px) translateZ(0);
   }
}

// Separators
.lineCover-separator,
.line-separator {
   display: block;
   margin-top: 25px;
   margin-right: auto;
   margin-bottom: 25px;
   margin-left: auto;
   width: 45px;
   height: 2px;
   border-radius: 99px;
   background-color: $main-red;
   line-height: 40px;

   &.to-lft {
      margin-top: 20px;
      margin-bottom: 18px;
      margin-left: 0;
   }
}

.line-separator {
   margin-top: 3rem;
   margin-bottom: 3rem;
   background-color: lighten($main-black, 60);
}
