/**
*   HOMEPAGE
*/

.smallCover {
   position: relative;
   overflow: hidden;
   margin-bottom: 30px;
   width: 100%;
   height: auto;

   &.generalCover--fill {
      overflow: hidden;
      margin-bottom: 60px;
      height: 478px;
      border-radius: $bd-radius;
      color: white;
      text-align: center;
   }

   img {
      display: block;
      height: auto;
      border-radius: $bd-radius;

      @include transition;
   }

   &__inner {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      padding: 0 1.8rem 1.3rem;
      color: white;

      &:hover {
         color: white;
         text-decoration: none;
      }

   }

   &__overlay {
      z-index: 3;
      border-radius: $bd-radius;
      background: linear-gradient(rgba(0,0,0, 0), rgba(0,0,0, .75));

      @include overlay;
   }

   &__link {
      z-index: 7;
      background-color: transparent;

      @include overlay;
   }

   &__title {
      text-shadow: $df-shadow;
      font-size: 1.85rem;

      &--opt {
         text-align: center;
         text-transform: uppercase;
         font-size: 2.1rem;
         line-height: normal;
         transform: translateY(60px);

         @include transition;
      }
   }

   &__text {
      margin: 0;
      text-shadow: $df-shadow;
      font-weight: 200;
      font-size: 1.1rem;

      &--opt {
         text-align: center;
         text-transform: uppercase;
         font-size: 1.2rem;
      }
   }

   .lineCover-separator.opt,
   &__text--opt {
      opacity: 0;
      transition: all .45s ease-in-out;
      transform: translateY(60px);
   }

   .largeCover__title {
      font-size: 2.3rem;
   }

   .largeCover__text {
      font-size: 1.5rem;
   }

   &:hover {
      img {
         @include img-filter1;
      }

      .lineCover-separator.opt,
      .smallCover__title--opt,
      .smallCover__text--opt {
         opacity: 1;
         transform: translateY(0);
      }
   }
}

.smallCover.generalCover--fill .smallCover__inner,
.generalCover--fill .largeCover__inner {
   position: relative;
   display: table;
   padding: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .4);

   @include transition;

   &:hover {
      // background-color: rgba(0, 0, 0, .5);
   }

   p:last-of-type {
      margin: 0;
   }

   .container {
      display: table-cell;
      vertical-align: middle;
   }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
   .smallCover__title--opt {
      font-size: 1.6rem;
   }
}

@media screen and (max-width: 768px) {
   .smallCover .lineCover-separator.opt,
   .smallCover__title--opt,
   .smallCover__text--opt {
      opacity: 1;
      transform: translateY(0);
   }
}
