/**
*   FEATURED SECTION
*/

.featureSection {

   figure,
   figure img {
      overflow: hidden;
      border-radius: 0 $bd-radius $bd-radius 0;

      &.order-lg-1,
      &.order-lg-1 img {
         border-radius: $bd-radius 0 0 $bd-radius;
      }

      img {
         filter: sepia(50%);
         @include transition;
      }

   }

   &:hover img {
      filter: sepia(0);
   }

   &__info {
      padding-right: 3.5rem;
      padding-left: 3.5rem;
   }

   &__title {
      margin-bottom: 1rem;
      color: black;
      font-weight: 400;
      font-size: 2.1rem;
   }

   p {
      font-weight: 300;
      font-size: 1.1rem;
   }

   @media screen and (max-width: 1199px) {

      &__info {
         padding-right: 2.5rem;
         padding-left: 2.5rem;
      }

      &__title {
         font-size: 1.8rem;
      }

      p {
         font-weight: 400;
         font-size: 1rem;

         &:last-of-type {
            margin-bottom: 0;
         }
      }
   }

   @media screen and (max-width: 991px) {

      figure,
      figure img,
      .figure,
      .figure img,
      figure.order-lg-1,
      figure.order-lg-1 img {
         border-radius: $bd-radius;
      }

      &__info {
         margin-bottom: $mb-30;
         padding: 0;
      }
   }

   &:last-of-type {
      .line-separator {
         display: none;
      }

   }
}
