/**
*   FOOTER
*/

.mainFooter {
   margin-top: 5rem;
   padding: 5rem 0;
   background-color: #454444;
   color: white;

   .brand-footer {
      width: 212px;
      height: auto;
   }

   p {
      margin: 0;
   }

}

.link-footer {
   display: inline-block;
   margin-right: 2rem;
   width: 32px;
   height: 32px;

   &:last-of-type {
      margin-right: 0;
   }

}

// SVG
svg {

   path {
      transition: fill .3s;
   }

   .iconColor--1 {
      fill: #454444;
   }

   .iconColor--2 {
      fill: white;
   }

   &:hover .iconColor--2 {
      fill: lighten($main-red, 7);
   }
}

@media screen and (max-width: 991px) {
   .mainFooter {

      p {
         margin-bottom: 10px;
      }

      .col-lg-4 {
         margin-bottom: $mb-30;

         &:last-of-type {
            margin-bottom: 0;
         }
      }
   }
   .brand-footer {
      margin: auto;
   }
}
