/**
*   INFOCELL
*/

.cardInfo {
   overflow: hidden;
   margin-bottom: 1.9rem;
   border-radius: $bd-radius;
   text-align: center;

   @include transition;

   &:hover {
      box-shadow:
      0 15px 40px rgba(0, 0, 0, 0.3),
      0 20px 80px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px) translateZ(0);
   }

   .card-body {

      p {
         color: #89888d;
      }

      .card-title {
         font-weight: 700;
         font-size: 1.55rem;
      }

      .card-body {
         margin-top: 20px;
         padding-right: 0;
         padding-bottom: 0;
         padding-left: 0;
         border: none;
         border-top: 1px solid rgba(0,0,0,.125);
         text-align: left;

         p {
            margin-bottom: 5px;

            i {
               color: black;
               font-weight: 700;
               font-style: normal;
            }

            &:last-of-type {
               margin-bottom: 0;
            }
         }
      }
   }
}
