/**
*   COVER
*/

.largeCover {
   width: 100%;
   height: 678px;
   box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5), 0 10px 30px rgba(0, 0, 0, 0.3);

   img {
      height: auto;

      @include transition;
   }

   &:hover img {
      @include img-filter;
   }

   &__title {
      margin-bottom: 1.4rem;
      text-transform: uppercase;
      text-shadow: $df-shadow;
      font-weight: 600;
      font-size: 2.9rem;
   }

   &__text {
      margin-bottom: 2.5rem;
      text-shadow: $df-shadow;
      font-weight: 300;
      font-size: 1.7rem;
      line-height: 1.2;
   }

   @media screen and (max-width: 576px) {
      height: 520px;

   }

   &.largeCover--internal {
      height: 600px;

      .largeCover__title {
         font-size: 2.5rem;
      }

      @media screen and (max-width: 576px) {
         height: 500px;
      }
   }
}
