/**
*   COVER
*/

.largeCover {
   position: relative;
   display: table;
   overflow: hidden;
   margin-bottom: 60px;
   min-height: 678px;
   width: 100%;
   height: 678px;
   background-color: $main-black;
   color: white;
   text-align: center;

   @media screen and (max-width: 576px) {
      height: 580px;
   }

   img {
      position: absolute;
      top: -9999px;
      right: -9999px;
      bottom: -9999px;
      left: -9999px;
      z-index: 1;
      margin: auto;
      min-width: 100%;
      min-height: 100%;

      @include transition;
   }

   &:hover img {
      @include img-filter;
   }

   &__overlay {
      z-index: 5;
      background-color: rgba(0, 0, 0, .3);

      @include overlay;
   }

   &:hover .largeCover__overlay {
      background-color: rgba(0, 0, 0, .40);
   }

   &__inner {
      display: table-cell;
      vertical-align: middle;

      .container {
         position: relative;
         z-index: 5;
      }
   }

   &__title {
      margin-bottom: 1.4rem;
      text-shadow: $df-shadow;
      font-weight: 600;
      font-size: 2.75rem;
   }

   &__text {
      margin-bottom: 2.5rem;
      text-shadow: $df-shadow;
      font-weight: 300;
      font-size: 1.7rem;
   }

   .btn-lg {
      padding: .65rem 2rem;
      border-radius: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .9rem;
   }

   .btn-secondary {
      border: 2px solid #FFF;
      background-color: transparent;

      @include transition;
      &:hover {
         background-color: #FFF;
         color: darken($main-red, 20);
      }
      &:active {
         background-color: transparent;
      }
   }
}
