/**
*   NAVBAR
*/

.bg-light {
   background-color: rgba(255, 255, 255, 0.7) !important;

   -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
   backdrop-filter: saturate(180%) blur(20px) !important;
}

.navbar-brand {
   width: 169.19px;
   height: 40px;
   background-color: transparent;

   @media screen and (max-width: 991px) {
      padding: 0;
      width: 126.89px;
      height: 30px;
   }
}

.dropdown-item {
   color: rgba(0,0,0,.5);

   &.active,
   &:active {
      background-color: white;
      color: rgba(0,0,0,.9);
   }
}

.navbar-nav .nav-item .nav-link:hover,
.dropdown-item:hover {
   color: $main-red;
}

.navbar-nav .nav-item.active .nav-link:hover {
   color: rgba(0,0,0,.9);
}
