/**
*   NEWS HOME
*/

.cardCover {
   margin-bottom: 30px;
   height: 94%;
   border: none;

   .cardCover__img,
   .cardInfo__img {
      overflow: hidden;
   }

   .card-img-top {
      @include transition;

      &:hover {
         transform: scale(1.1);
      }
   }

   .card-title {
      font-weight: 700;
      font-size: 1.55rem;
   }

   .card-text {
      color: #89888d;
   }

   .btn-primary {
      margin-top: .5rem;
   }
}

.newsCover--design {
   overflow: hidden;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: $bd-radius;
   // box-shadow: 0 10px 13px rgba(0,0,0,.15);

   @include transition;

   &:hover {
      box-shadow:
      0 15px 40px rgba(0, 0, 0, 0.2),
      0 20px 80px rgba(0, 0, 0, 0.1);
      transform: translateY(-3px) translateZ(0);

      .smallCover__overlay {
         background-color: rgba(0, 0, 0, .43);
      }
   }
}
