/**
*   NEWS
*/

.newsPost {

   h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
   }

   &__title {
      font-weight: 700 !important;
      font-size: 2.5rem;

      a {
         display: block;
         color: $two-black;
      }

      &:hover {
         a {
            color: $main-red;
            text-decoration: none;
         }
      }
   }

   &__date {
      color: $main-gray;
      font-size: .9rem;
   }

   &__img {
      overflow: hidden;
      margin-bottom: $mb-30;
      border-radius: $bd-radius;
   }

   .figure img {
      border-radius: $bd-radius !important;
   }
}

// Aside
.asideBox {
   margin-bottom: $mb-60;

   &__title {
      // padding-bottom: 1rem;
      // border-bottom: 1px solid rgba(0,0,0,.125);
      font-size: 1.2rem;
   }

   .list-group-item {

      a {
         display: block;
         color: $main-gray;
         font-size: .9rem;

         &:hover {
            color: $main-red;
         }
      }
   }

   &__social {
      padding-top: 5px;

      a {
         margin-right: 20px;

         .iconColor--1 {
            fill: white;
         }

         .iconColor--2 {
            fill: #454444;
         }

         &:hover .iconColor--2 {
            fill: lighten($main-red, 7);
         }
      }
   }
}

@media screen and (max-width: 767px) {
   .pagination {
      margin-bottom: $mb-100;
   }
}
