/**
*   VARIABLES
*/

// Colors
$main-red: #FF525B;
$main-black: #353535;
$two-black: #212529;
$main-gray: #89888d;
$main-yellow: rgba(226, 160, 0, 1);

// Font size
$t-size: 1.2rem;
$p-size: .9rem;

// Margin
$mb-30: 1.9rem;
$mb-60:  3.75rem;
$mb-90: 5.63rem;
$mb-100: 6.25rem;

// Border radius
$bd-radius: .8rem;
$bt-radius: 1.25rem;

// Shadows
$df-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
