/**
*   VARIABLES
*/

// Colors
$main-red: #FF525B;
$main-black: #353535;
$main-yellow: rgba(226, 160, 0, 1);

// Border radius
$bd-radius: 1.25rem;

// Shadows
$df-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
