/**
*   MAIN - IMPORT RULES
*/

@import "./_variables";
@import "./_partials/_mixins";
@import "./_partials/_base";
@import "./_partials/_navbar";
@import "./_partials/_large-cover";
@import "./_partials/_covers.scss";
@import "./_partials/_news-home.scss";
@import "./_partials/_featured-section.scss";
@import "./_partials/_infocell.scss";
@import "./_partials/_news.scss";
@import "./_partials/_contact.scss";
@import "./_partials/_footer.scss";

.socialSection > div.row > div.col-md-8 > p:last-of-type {
   position: relative;
   display: block;
   overflow: hidden;
   padding: 0;
   width: 100%;

   &:before {
      display: block;
      padding-top: 56.25%;
      content: ""
   }

   iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
   }
}
